/DigitalClock/nbproject/private/
/DigitalClock/build/
/DigitalClock/dist/
/MyCalculator/nbproject/private/
/MyCalculator/build/
/MyCalculator/dist/
/WordCountTool/nbproject/private/
/WordCountTool/build/
/WordCountTool/dist/